body
{
  color: black;
  background: gold;
  text-align: left;
  margin: 50px;
}

h3{
    width: 300px;
    text-align: center;
}

#camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }